
div#viewTrade-Modal-pnl div.dt-buttons,
div#viewTrade-Modal div.dt-buttons {
  padding-right: 0;
}

.statsinfo {
  font-size: 14px;
  color: white;
  display: flex;
  gap: 30px;
}

.statsinfo span {
  display: inline-block;
}

.statsinfo .dot {
  min-width: 6px;
  min-height: 6px;
  background-color: rgb(224, 224, 224);
  border-radius: 100%;
}

.sBlockCont {
  display: flex;
  align-items: center;
}

div#viewTrade-Modal .dataTables_wrapper .dataTables_filter {
  display: flex !important;
  margin-left: 10px;
  font-size: 14px;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  background-color: #222222;
  height: 40px;
  border-radius: 6px;
  color: white;
  border: 1px solid white;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}

div#viewTrade-Modal .dataTables_wrapper .dataTables_filter:hover {
  opacity: 0.8;
}

div#viewTrade-Modal .dataTables_wrapper .dataTables_filter input {
  border: none;
  color: white;

  height: 40px;
}
.label {
  display: inline-block;
  padding: 4px 5px;
  background-color: #3498db;
  color: #ffffff;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  margin-right: 5px !important;
  margin-bottom: 4px;
}
.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  background-color: transparent !important;
  border: 1px solid #222222 !important;
}
.updatedStatus {
  background-color: #222222;
  padding: 14px 12px !important;
  color: #e0e0e0;
  cursor: pointer;
  border-radius: 6px;
}
.select2-container {
  width: 100% !important;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:hover,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:focus {
  background-color: transparent;
  color: white;
}
.sidebar {
  width: 300px;
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: -300px;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar.active {
  left: 0;
}
.searchFilterDropdown {
  background-color: transparent !important;
  padding: 8px 9px;
  border: 1px solid #222222;
  border-radius: 6px;
  color: white !important;
  width: 150px !important;
}
#addressTagDropDown option {
  background-color: red !important;
}
.toggle-menu {
  padding: 0.5rem 1rem;
  background-color: transparent !important;
  border: 1px solid #222222;
  color: #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  font-size: 13px !important;
  cursor: pointer;
}

.dataTables_length {

}
.toggle-menu-Icon-Tab {
  display: flex;
  align-items: center;
  gap: 40px;
}
