@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

body {
  background-color: #fbfbfb;
  font-family: "Poppins", sans-serif;
}

.ff-txt {
  font-family: "Poppins", sans-serif;
}

.ff-num {
  font-family: "IBM Plex Mono", monospace;
}

.container {
  padding: 50px 50px;
  margin: 0 auto;
}

.oflowhidden {
  overflow: hidden !important;
}

.card {
  position: relative;
  padding: 30px;

  background-color: #111111;
  border-radius: 6px;
  border: 1px solid #222222;
  color: white;
}

.dataTable th {
  font-weight: 500;
}
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: 500;
}
.dt_mtable_wrapper table.dataTable thead th,
.dt_mtable_wrapper table.dataTable tfoot th {
  white-space: nowrap;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 15px 10px;
}

table.dataTable.stripe > tbody > tr.odd > *,
table.dataTable.display > tbody > tr.odd > *,
table.dataTable.display > tbody > tr.odd > .sorting_1,
table.dataTable.order-column.stripe > tbody > tr.odd > .sorting_1,
table.dataTable.display > tbody > tr.even > .sorting_1,
table.dataTable.order-column.stripe > tbody > tr.even > .sorting_1 {
  box-shadow: none;
}
.dataTable {
  font-size: 14px;
}
table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid rgb(173 159 159 / 15%);
}
table.dataTable.no-footer {
  border-bottom: 1px solid rgb(243 241 241);
}
#example_wrapper div label {
  font-size: 14px;
  color: #767683;
}
.dataTables_wrapper .dataTables_length select {
  background: #111111;
  color: white;
  border: 1px solid #222222;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins";
}
.dataTables_wrapper .dataTables_length option {
  background-color: #222222;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #f3f1f1;
  border-radius: 6px;
  padding: 7.5px 12px;
  background-color: transparent;
  margin-left: 3px;
}
.dataTables_length {
  padding-bottom: 15px;
}
.dataTables_wrapper .dataTables_filter {
  display: none !important;
}
table.dataTable.hover > tbody > tr:hover > *,
table.dataTable.display > tbody > tr:hover > * {
  box-shadow: none;
}

table.dataTable tbody tr:nth-child(odd) {
  /* background-color: #e4f1ff4a; */
}
table.dataTable tbody tr:hover {
  /* background-color: #d0ffce1f; */
}
table.dataTable tfoot th input {
  width: 100%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px 10px;
  border-radius: 6px;
  min-width: auto;
  color: #bbbbbb !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: transparent;
  color: white !important;
  border: 1px solid rgb(243 241 241);
  cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #222222 !important;
  cursor: pointer;
  color: white !important;
  border: 1px solid rgb(243 241 241);
}
.dataTable thead .filters th input,
.dataTable thead .filter th input {
  height: auto;
  border: 1px solid #222222;
  padding: 8px 9px;
  font-size: 12px;
  border-radius: 6px;
  width: 100%;
  background-color: transparent;
  color: white;
  font-family: "Poppins";
}
.dataTable thead .filters th input:focus {
  box-shadow: 0 0 5px #222222;
  outline: none;
}
.dataTables_wrapper .dataTables_paginate {
  padding-top: 23px;
}
.dataTables_wrapper .dataTables_info {
  padding-top: 25px;
  color: #e0e0e0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: 1px solid rgb(243 241 241);
}
.dataTables_filter {
}
.dataTables_filter label img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}
.dataTables_filter label {
  display: flex;
  align-items: center;
  gap: 5px;
}
div.dt-buttons {
  float: right;
  display: flex;
  align-items: center;

  gap: 4px;
}
button.dt-button {
  background: transparent;
  color: #e0e0e0 !important;
  border: 1px solid #222222;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins";
  transition: background 0.2s ease-in-out;
}

button.dt-button:hover {
  background: #222222 !important;
  color: white;
  border: 1px solid #222222;
}

.dataTables_wrapper .mminput {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dataTables_wrapper .mminput input {
  max-width: 48%;
  flex: 0 0 48%;
}
.dataTables_wrapper .mminput .rangeinput {
  display: none;
}
.title-head {
  margin-bottom: 25px;
}
.title-head h2 {
  font-size: 18px;
  /* padding-bottom: 20px; */
}
.date-range input {
  border: 1px solid black;
}
.title-head {
  display: inline-block;
}
.date-range {
  gap: 5;
}
.date-range input {
  background: transparent;
  color: white;
  border: 1px solid #222222;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins";
}
.date-range button {
  background: transparent;
  color: white;
  border: 1px solid #222222;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins";
  cursor: pointer;
}
.date-range input:focus {
  color: #495057;
  outline: 0;
  box-shadow: 1px 1px 20px 0rem #3eb7f01f;
}
.date-range button:focus {
  color: #495057;
  outline: 0;
  box-shadow: 1px 1px 20px 0rem #3eb7f01f;
}
.date-range {
  position: absolute;
  right: 285px;
  /* top: 133px; */
  z-index: 999;
  display: inline;
}
.search-btnTbl {
  float: left;
}
#dt_table_wrapper .dataTables_scrollBody {
  min-height: 300px;
}

.u-btn {
  /* width: 100%;
  color: white;
  height: 25px;
  padding: 0 6px;
  font-weight: 500;
  font-family: "Poppins";
  white-space: nowrap;
  font-size: 10px;
  cursor: pointer;
  background-color: #222222 !important;
  display: flex;
  justify-content: start;
  align-items: center; */
}
.u-btn:hover {
  background-color: #111111 !important;
}
.pnl-btn {
  /* color: white;
  border: 1px solid #222222;
  background-color: #222222 !important;
  width: 100%;
  height: 25px;
  padding: 0 6px;
  font-weight: 500;
  font-family: "Poppins";
  white-space: nowrap;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center; */
}
.pnl-btn:hover {
  background-color: #111111 !important;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow-y: auto;
  outline: 0;
  padding: 0 30px;
}

.modal-dialog {
  margin: 30px auto;
  max-width: 1600px;
  width: 100%;
}
.edit-modal-dialog {
  margin: 30px auto;
  max-width: 40%;
  min-width: 40%;
  width: 100%;
}
.modal-content {
  position: relative;
  background-color: #111111;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid #222222;
  border-radius: 12px;
  padding: 20px 35px;
  outline: 0;
  color: white;
}
.modal-body {
  padding: 20px 0;
}

.modal-backdrop {
  opacity: 0.5;
  background: #1b191963;
}
.modal.show {
  display: block !important;
  background: #1b191963;
  filter: drop-shadow(5px 5px 19px #454444) !important;
}

.address11 {
  color: #09c;
  font-size: 12px;
}
.dataTable tr td > a {
  color: #09c;
}

.dthidden {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  display: inline-block;
}
.cross-svg span img {
  width: 15px;
  height: 15px;
}
.cross-svg {
  display: inline-block;
  float: right;
}
.cross-svg span {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.token-pnl {
  border: 1px solid black;
  height: 30px;
  padding: 5px;
  background-color: #222222 !important;
  border: 0px !important;
  outline: none !important;
  min-height: 100% !important;
  flex: 1;
}
.button-sett {
  display: inline;
  float: right;
}
.token-sett {
  display: inline;
  border: 1px solid #cacaca;
  padding: 16px;
  border-radius: 6px;
}
.token-pnl {
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5c5c5;
  font-size: 14px;
  padding: 0 12px;
  height: 33px;
  border-radius: 6px;
  font-family: "Poppins";
  font-weight: 500;
}
.feild-set1 {
}
.feild-set fieldset {
  margin-left: 14px;
}
.cust-feld-st {
  font-size: 14px;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  background-color: #222222;
  width: 258px !important;
  height: 40px;
  border-radius: 6px;
  border: 1px solid white;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}
.cust-feld-st img {
  margin-left: 15px;
}
.cust-feld-st:hover {
  opacity: 0.9;
}

#export-all {
  z-index: 99;
}

#loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -20px;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div.dataTables_processing > div:last-child > div {
  display: none !important;
}

div.dataTables_processing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  z-index: 999;
}
div.dataTables_processing > div:last-child {
  display: none;
}

.card .buttons-colvis {
  background: #e0e0e0;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-left: 15px !important;
}
div.dt-button-collection button.dt-button.active:not(.disabled),
div.dt-button-collection button.dt-button {
  background: #e9e9e9;
  border: 1px solid #999;
  box-shadow: none;
  color: black;
}
button.dt-button.buttons-columnVisibility {
  height: 30px;
  padding: 4px 12px 4px 30px;
  font-size: 12px;
  border: 1px solid transparent;
}
button.dt-button.buttons-columnVisibility::before {
  content: "";
  width: 19px;
  height: 19px;
  background-color: white;
  position: absolute;
  left: 9px;
  top: 4px;
  border-radius: 2px;
}
div.dt-button-collection {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 4px 4px 2px 4px;

  overflow: hidden;
  z-index: 2002;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  margin-left: 0px;
  background-color: #222222;
  border: 1px solid #222222;
}
.dt-button.buttons-columnVisibility.active::after {
  content: "\2713";
  position: absolute;
  left: 14px;
  top: 4px;
  color: black;
  font-weight: bolder;
}
.dt-button.buttons-columnVisibility::after {
  content: "";
}
button.dt-button.buttons-columnVisibility {
  background: #aac9eb4a;
}
button.dt-button:focus {
  background: transparent !important;
  border: 1px solid #222222 !important;
}
.viewTrade-Modal .buttons-colvis {
  text-align: left;
  position: absolute;
  left: 95px;
  padding: 0.5rem 1rem;
  background: transparent;
  color: #e0e0e0 !important;
  border: 1px solid #222222;
}
/* div.dt-button-collection{
    margin-left:0;
} */
.viewTrade-Modal .buttons-columnVisibility:focus {
  border: 1px solid transparent !important;
}
button.dt-button.active:focus:not(.disabled) {
  background: black !important;
}
div.dt-button-collection button.dt-button.active:not(.disabled),
div.dt-button-collection button.dt-button {
  border: none !important;
  background-color: #111111 !important;
  color: #e0e0e0 !important;
}
.viewTrade-Modal div.dt-button-collection button.dt-button:hover {
  background-color: #111111 !important;
  color: #e0e0e0 !important;
  opacity: 0.8;
}
div.dt-button-background {
  background-color: none !important;
  background: none !important;
}
.filter1 input:focus {
  box-shadow: 0 0 5px #222222;
}

.ellipsis {
  color: #e0e0e0 !important;
}
.filter input:focus {
  box-shadow: 0 0 5px #222222 !important;
}
.daterangepicker .ranges,
.daterangepicker {
  background-color: #111111 !important;
  color: rgb(230, 226, 226);
  border: 0px !important;
  border-radius: 5px !important;
  min-width: 550px !important;
  max-width: 550px !important;
  border: 1px solid #222222 !important;
  filter: drop-shadow(1px 1px 1px #454444) !important;
}
.daterangepicker .ranges,
.daterangepicker .left {
  /* background-color: green !important; */
  width: 50% !important;
}
.daterangepicker .ranges,
.daterangepicker .right {
  /* background-color:black !important; */
  width: 50% !important;
}
.daterangepicker .ranges,
.daterangepicker .calendar-table {
  background-color: transparent;
  border: 0px !important;
}
.daterangepicker .ranges,
.daterangepicker .left .calendar-table .table-condensed thead tr {
  background-color: transparent !important;
}
.daterangepicker .ranges,
.daterangepicker .left .calendar-table .table-condensed tbody tr .disabled {
  background-color: transparent !important;
}
.daterangepicker .ranges,
.daterangepicker .left .calendar-table .table-condensed tbody tr .off {
  background-color: transparent !important;
}
.daterangepicker .ranges,
.daterangepicker .left .calendar-table .table-condensed tbody tr .available {
  background-color: transparent;
  color: rgb(230, 226, 226);
}
.daterangepicker .ranges,
.daterangepicker .left .calendar-table .table-condensed tbody tr .active {
  background-color: #494646 !important;
  color: rgb(230, 226, 226);
}
.daterangepicker .ranges,
.daterangepicker .left .calendar-table .table-condensed tbody tr .in-range {
  background-color: #222222;
}

.daterangepicker .ranges,
.daterangepicker .right .calendar-table .table-condensed thead tr {
  background-color: transparent !important;
}
.daterangepicker .ranges,
.daterangepicker .right .calendar-table .table-condensed tbody tr .disabled {
  background-color: transparent !important;
}
.daterangepicker .ranges,
.daterangepicker .right .calendar-table .table-condensed tbody tr .off {
  background-color: transparent !important;
}
.daterangepicker .ranges,
.daterangepicker .right .calendar-table .table-condensed tbody tr .available {
  background-color: transparent;
  color: rgb(230, 226, 226);
}
.daterangepicker .ranges,
.daterangepicker .right .calendar-table .table-condensed tbody tr .active {
  background-color: #494646 !important;
  color: rgb(230, 226, 226);
}
.daterangepicker .ranges,
.daterangepicker .right .calendar-table .table-condensed tbody tr .in-range {
  background-color: #222222;
}
.drp-buttons {
  border-top: 1px solid #222222 !important;
}

.daterangepicker .ranges,
.daterangepicker .drp-selected {
  color: #e0e0e0 !important;
}
.daterangepicker .drp-buttons button {
  padding: 0.5rem 1rem !important;
  color: white;
  background-color: transparent;
  border: 1px solid #222222;
  cursor: pointer;
  border-radius: 6px;
}
.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  border-color: white;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: #494646 !important;
}
.tag-selection-popup {
  width: 50% !important;
}
/* padding: 0.5rem 1rem; */

.select2-container--default .select2-selection--multiple {
  border: 1px solid #222222 !important;
  background-color: transparent !important;
  color: #e0e0e0;
  padding-bottom: 16px !important;
}
.select2-container--default .select2-search--inline .select2-search__field {
  color: #e0e0e0 !important;
}
.addTagField{
  display: flex;
  gap: 10px;
  align-items: center;
}
.addTag {
  background-color: #222222;
  padding: 14px 12px !important;
  color: #e0e0e0;
  cursor: pointer; 
  border-radius: 6px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent !important;

}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
  font-size: 13px;
  font-weight: 500 !important;
  height: 100% !important;
  display: flex;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover{
  background-color: #222222;
  color: white;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  border-right: 0px !important;
  height: 100% !important;
}